<h1>
  <span style="color:<%= @pair.ingredient_1.colour %>"><%= @pair.ingredient_1.name %></span>
   and
   <span style="color:<%= @pair.ingredient_2.colour %>"><%= @pair.ingredient_2.name %></span>
</h1>
<ul>
  <li>Classic combo: <%= @pair.classic %></li>
  <li>Something different: <%= @pair.different %></li>
  <li>So-so: <%= @pair.average %></li>
  <li>Bad idea: <%= @pair.bad %></li>
</ul>
